target
.jdtls
.metadata
.classpath
.project
.settings
__pycache__

# compiled C
timer/sieve
timer/sieve.exe

# environments
PAenv/

# analyses results
*.json

*.py
*.yaml
sample.yaml

tree-sitter-java/